<!-- Register form -->
<div class="register-form">
    <!-- Title -->
    <div style="width: 250px; margin: 0 auto;"><img width="250" src="{{ app.conf.assets_url }}images/logo_reg.png"></div>
    <div class="title" style="margin-top: 15px;font-size: 25px;">Create Account</div>
    <!-- Intro text -->
    <p class="intro" style="margin: 5px 0px 10px 1px;"><b>North American Challenger 2015;</b> <span style="color:#000;">secure your spot now!</span></p>
    <!-- Form fields -->
    <form action="{{ app.request_stack.getMasterRequest.getRequestUri }}"
          name="register" id="register-form" method="post">
        <!-- Email input -->
        <div class="field">
            {{ form_widget(registerForm.email) }}
            <span class="entypo-mail icon"></span>
            <span class="slick-tip left">Enter your email</span>
            {{ form_errors(registerForm.email) }}
        </div>
        <!-- Password input -->
        <div class="field">
            {{ form_row(registerForm.password.first) }}
            <span class="entypo-lock icon"></span>
            <span class="slick-tip left">Enter your password</span>
            {{ form_errors(registerForm.password.first) }}
        </div>
        <!-- Password repeat input -->
        <div class="field">
            {{ form_row(registerForm.password.second) }}
            <span class="entypo-lock icon"></span>
            <span class="slick-tip left">Repeat your password</span>
            {{ form_errors(registerForm.password.second) }}
        </div>
        <div class="clrfx mt-20 mb-30 bt"><span class="inner-title">Quick options</span>
        </div>
        <!-- Sliding checkbox 3 -->
        <div class="field">
            <p class="ratings w-75 mr-5"><span
                        class="entypo-paper-plane"></span>Signup for our newsletter?</p>

            <div class="slide-chk w-20">
                <input type="checkbox"  checked id="newsletter-signup"
                       name="register_form[newsletter]"/>
                <label for="newsletter-signup"></label>
            </div>
        </div>
        <div class="clrfx mt-10 mb-30 bt"></div>
        <!-- Terms agree button -->
        <!-- Send button -->
        <input type="submit" value="Register" class="send"/>

    </form>
    <!-- / Form fields -->
</div>
<!-- / Register form -->
