{% extends "layout_forms.html.twig" %}

{% block stylesheets %}
    <!-- Forms stylesheet -->
    {% stylesheets 'css/form2.css' 'css/grid.css' 'css/fontello.css' 'css/layout.css' filter='cssmin' %}
    <link href="{{ app.conf.assets_url }}{{ asset_url }}" type="text/css"
          rel="stylesheet"/>
    {% endstylesheets %}
    <!-- / Forms stylesheet -->
{% endblock %}

{% block javascripts %}
    {% javascripts
    'js/jquery.validate.js'
    'js/registration/payment_form.js' filter="jsmin" %}
    <script src="{{ app.conf.assets_url }}{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
<div id="content">

    <div class="form-container">

        <div id="metamoris_form" class="container substrate">
            <div class="width_cont">
                <div class="row">

                    <div class="col-xs-12">
                        <span class="head_logo_right"><img
                                    src="{{ app.conf.assets_url }}images/logo.png"/></span>
                        <span class="head_logo_left"><img
                                    src="{{ app.conf.assets_url }}images/logo.png"/></span>

                        <h2 class="form-login-heading">METAMORIS <span>CHALLENGER REGISTRATION</span>
                        </h2>
                    </div>

                </div>
                <!--/ .row-->
                <div class="row stage-container">

                    <div class="stage tmm-success col-md-3 col-sm-3">
                        <div class="stage-header head-icon head-icon-lock"></div>

                        <div class="stage-content">
                            <h3 class="stage-title">Create Account</h3>

                            <div class="stage-info">
                                Please login with your email and password
                                credentials
                            </div>
                        </div>
                    </div>
                    <!--/ .stage-->

                    <div class="stage tmm-success col-md-3 col-sm-3">
                        <div class="stage-header head-icon head-icon-user"></div>
                        <div class="stage-content">
                            <h3 class="stage-title">Personal Information</h3>

                            <div class="stage-info">
                                Name, Phone, Home address and team / affiliation
                            </div>
                        </div>
                    </div>
                    <!--/ .stage-->

                    <div class="stage tmm-current col-md-3 col-sm-3">
                        <div class="stage-header head-icon head-icon-payment"></div>
                        <div class="stage-content">
                            <h3 class="stage-title">Payment Information</h3>

                            <div class="stage-info">
                                Select your location, weight class and payment
                                method
                            </div>
                        </div>
                    </div>
                    <!--/ .stage-->

                    <div class="stage col-md-3 col-sm-3">
                        <div class="stage-header head-icon head-icon-details"></div>
                        <div class="stage-content">
                            <h3 class="stage-title">Confirm Your Details</h3>

                            <div class="stage-info">
                                Review your information before submitting
                            </div>
                        </div>
                    </div>
                    <!--/ .stage-->

                </div>
                <!--/ .row-->

                <div class="row">

                    <div class="col-xs-12">

                        <div class="form-header">
                            <div class="form-title-2 form-icon title-icon-card">
                                <b>Payment</b> Information
                            </div>
                            <div class="steps" style="">
                                <img src="{{ app.conf.assets_url }}images/secure_server@2.png"/>
                            </div>
                        </div>
                        <!--/ .form-header-->

                    </div>

                </div>
                <!--/ .row-->

                <form name="payment-info"
                      action="{{ path('challenger.registration.payment') }}"
                      method="post" id="payment-form"
                      role="form">

                    <div class="form-metamoris" style="min-height: 600px;">

                        <div class="row">

                            <div class="col-md-8 col-lg-12">
                                <div style="padding-top:20px; border-bottom: 1px dotted #a2a2a2;">
                                    <h2>Qualifier Selection</h2></div>
                                <span style="font-size:small;"><p>Please select
                                        the qualifying location and weight class
                                        below</p></span>

                                <div class="row">

                                    <div class="col-md-6 cityselect">
                                        <fieldset class="input-block">
                                            <label for="location">Select your city:</label>

                                            <div class="dropdown">
                                                <select name="location"
                                                        class="dropdown-select"
                                                        id="location">
                                                    <option value="" disabled
                                                            selected>Select a
                                                        city
                                                    </option>
                                                    {% for city in cities %}
                                                        <option value="{{ city.id }}">
                                                            {{ loop.index }}
                                                            - {{ city.name }}
                                                            , {{ city.state }}
                                                    </option>
                                                    {% endfor %}

                                                </select>
                                            </div>
                                            <!--/ .input-dropdown-->
                                        </fieldset>
                                        <!--/ .input-card-type-->
                                    </div>


                                    <div class="col-md-6 weightselect">
                                        <fieldset class="input-block">
                                            <label for="weight-class">Select weight class:</label>

                                            <div class="dropdown">
                                                <select name="weight_class"
                                                        class="dropdown-select"
                                                        id="weight-class"
                                                        disabled>
                                                    <option value="" disabled
                                                            selected>Select a
                                                        weight class
                                                    </option>

                                                </select>
                                            </div>
                                            <!--/ .input-dropdown-->
                                        </fieldset>
                                        <!--/ .input-card-type-->
                                    </div>


                                </div>
                                <!--/ .row-->


                                <div class="pm"
                                     style="padding-top: 10px; padding-bottom: 0px; border-bottom: 1px dotted #a2a2a2;">
                                    <h2>Payment Method</h2></div>
                                <br/>

                                <div class="row">


                                    <div class="cc"
                                         style="padding-left:15px; display: block;">
                                        <form>
                                            <div style="float:left"
                                                 class="col-md-6"><label><input
                                                            class="ccbtn"
                                                            type="radio"
                                                            name="method"
                                                            value="cc"
                                                            checked><img
                                                            width="195"
                                                            height="30"
                                                            src="{{ app.conf.assets_url }}images/credit_cards@2.png"/>
                                                </label></div>
                                            <!--<div style="float:left"
                                                 class="col-md-6"><label><input
                                                            class="ccbtn2"
                                                            type="radio"
                                                            name="method"
                                                            value="paypal"><img
                                                            width="94"
                                                            height="30"
                                                            src="{{ app.conf.assets_url }}images/paypal@2.png"/></label>
                                            </div>-->
                                        </form>

                                    </div>
                                </div>
                                <!--/ .row-->

                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <fieldset class="input-block">
                                            <label for="card-type">Card Type</label>

                                            <div class="dropdown">
                                                <select id="card-type" name="card_type"
                                                        class="dropdown-select">
                                                    <option value="none"
                                                            disabled selected>
                                                        Select a card
                                                    </option>
                                                    <option value="Visa">Visa
                                                    </option>
                                                    <option value="Master
                                                        Card">Master
                                                        Card
                                                    </option>
                                                    <option value="AMEX">AMEX
                                                    </option>
                                                    <option value="DISCOVER">
                                                        DISCOVER
                                                    </option>
                                                </select>
                                            </div>
                                            <!--/ .input-dropdown-->
                                        </fieldset>
                                        <!--/ .input-card-type-->
                                    </div>


                                </div>
                                <!--/ .row-->

                                <div class="row">
                                    <div class="col-md-12 col-sm-12"
                                         style="position: inherit;">
                                        <fieldset class="input-block">
                                            <label for="card-holder">Card Holder
                                                Name</label>
                                            <input type="text" id="card-holder"
                                                   class=""
                                                   name="card_holder"
                                                   placeholder="e.g. John Smith"
                                                   required/>
                                            <span class="entypo-user icon"></span>
                                        </fieldset>
                                        <!--/ .input-holder-->
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <fieldset class="input-block" style="">
                                            <label for="card_number">Card
                                                Number</label>
                                            <input type="text" id="card_number"
                                                   name="card_number"
                                                   placeholder="Credit Card number"
                                                    required/>
                                            <span class="entypo-credit-card icon"></span>
                                        </fieldset>
                                        <!--/ .input-cardnumber-->
                                    </div>
                                    <div class="col-md-3 col-sm-3">

                                        <fieldset class="input-block">
                                            <label for="card-month">Exp Month</label>

                                            <div class="dropdown">
                                                <select name="card_month"
                                                        id="card-month"
                                                        class="dropdown-select">
                                                    <option value="none"
                                                            disabled selected>
                                                        Month
                                                    </option>
                                                    <option value="01">01
                                                    </option>
                                                    <option value="02">02
                                                    </option
                                                    <option value="03">03
                                                    </option>
                                                    <option value="04">04
                                                    </option>
                                                    <option value="05">05
                                                    </option>
                                                    <option value="06">06
                                                    </option>
                                                    <option value="07">07
                                                    </option>
                                                    <option value="08">08
                                                    </option>
                                                    <option value="09">09
                                                    </option>
                                                    <option value="10">10
                                                    </option>
                                                    <option value="11">11
                                                    </option>
                                                    <option value="12">12
                                                    </option>
                                                </select>
                                            </div>
                                            <!--/ .dropdown-->
                                        </fieldset>
                                        <!--/ .input-month-->

                                    </div>

                                    <div class="col-md-3 col-sm-3">

                                        <fieldset class="input-block">
                                            <label for="card-year">Exp Year</label>

                                            <div class="dropdown">
                                                <select name="card_year"
                                                        id="card-year"
                                                        class="dropdown-select">
                                                    <option value="none"
                                                            disabled selected>
                                                        Year
                                                    </option>
                                                    <option value="15">2015
                                                    </option>
                                                    <option value="16">2016
                                                    </option>
                                                    <option value="17">2017
                                                    </option>
                                                    <option value="18">2018
                                                    </option>
                                                    <option value="19">2019
                                                    </option>
                                                    <option value="20">2020
                                                    </option>
                                                    <option value="21">2021
                                                    </option>
                                                    <option value="22">2022
                                                    </option>
                                                </select>
                                            </div>
                                            <!--/ .dropdown-->
                                        </fieldset>
                                        <!--/ .input-year-->

                                    </div>


                                </div>
                                <!--/ .row-->

                                <div class="row">
                                    <div class="col-md-4 col-sm-4" style="">
                                        <fieldset class="input-block">
                                            <label for="card-cid">CID</label>
                                            <input type="text" id="card-cid"
                                                   name="card_cid"
                                                   placeholder="e.g. 366"
                                                   maxlength="3"
                                                   required/>
                                            <span class="entypo-credit-card icon"></span>
                                        </fieldset>
                                        <!--/ .input-cvc-->
                                    </div>

                                    <div id="TotalCost"><h2>Total cost:<span
                                                    class="TotalCostTotal"> $125.00</span>
                                        </h2></div>
                                </div>
                                <!--/ .row-->

                            </div>

                        </div>
                        <!--/ .row-->


                        <input type="hidden" name="step" value="payment"/>

                    <div class="prev">
                        <button class="button button-control" type="button"
                                onclick="window.location.href='{{ path('challenger.registration') }}'">
                            <span>Prev Step <b>Personal Information</b></span>
                        </button>
                        <div class="button-divider"></div>
                    </div>


                    <div class="next">
                        <button class="button button-control" type="submit">
                            <span>Next Step <b>Confirm Your Details</b></span>
                        </button>
                        <div class="button-divider"></div>
                    </div>
                    </div>
                    <!--/ .form-metamoris-->
                </form>
                <!--/ .form-metamoris-->

            </div>
            <!--/ .container-->

        </div>
        <!--/ .form-container-->

    </div>


    <!--/ #content-->
    {% endblock %}
