{% extends "layout.html.twig" %}

{% block stylesheets %}
    <!-- Forms stylesheet -->
    {% stylesheets 'css/form.css' filter='cssmin' %}
    <link href="{{ app.conf.assets_url }}{{ asset_url }}" type="text/css"
          rel="stylesheet"/>
    {% endstylesheets %}
    <!-- / Forms stylesheet -->
{% endblock %}

{% block javascripts %}
    {% javascripts
    'js/jquery.validate.js'
    'js/tab_forms/*' filter="jsmin" %}
    <script src="{{ app.conf.assets_url }}{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
    <section id="slick">
        {{ include('partials/tabs.html.twig') }}
        <!-- Forms wrapper -->
        <div class="forms">
            {{ include('partials/tab_forms/register_form.html.twig') }}
            {{ include('partials/tab_forms/login_form.html.twig') }}

            {%  if activeTab == 'reenter' %}
            {{ include('partials/tab_forms/reenter_form.html.twig') }}
            {%  else %}
            {{ include('partials/tab_forms/reset_form.html.twig') }}
            {%  endif %}
        </div>
        <!-- / Forms wrapper -->
        {{ include('partials/tac.html.twig') }}
    </section>
{% endblock %}
